* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.wrap {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap .moon-card {
  width: 60%;
  height: 40%;
  background: linear-gradient(210deg, #1A449D, #1D2C4C);
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.wrap .moon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-box-shadow: inset 16px 0px #ff0, inset 16px 0px 1px 2px #ff0;
          box-shadow: inset 16px 0px #ff0, inset 16px 0px 1px 2px #ff0;
}

.wrap .star {
  position: absolute;
  opacity: 0;
}

@-webkit-keyframes raining {
  0% {
    top: 0;
    opacity: 0.35;
  }
  100% {
    top: 70%;
    opacity: 0;
  }
}

@keyframes raining {
  0% {
    top: 0;
    opacity: 0.35;
  }
  100% {
    top: 70%;
    opacity: 0;
  }
}

.wrap div.star:nth-child(1) {
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  top: 0;
  left: 82%;
  -webkit-transition: all 1.10646s;
  transition: all 1.10646s;
  -webkit-animation: raining 8s linear 2s infinite;
          animation: raining 8s linear 2s infinite;
}

@keyframes raining {
  0% {
    top: 0;
    opacity: 0.59;
  }
  100% {
    top: 70%;
    opacity: 0;
  }
}

.wrap div.star:nth-child(2) {
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  top: 0;
  left: 17%;
  -webkit-transition: all 0.87387s;
  transition: all 0.87387s;
  -webkit-animation: raining 6s linear 1s infinite;
          animation: raining 6s linear 1s infinite;
}

@keyframes raining {
  0% {
    top: 0;
    opacity: 0.53;
  }
  100% {
    top: 70%;
    opacity: 0;
  }
}

.wrap div.star:nth-child(3) {
  width: 3px;
  height: 3px;
  border-radius: 1.5px;
  background-color: #fff;
  top: 0;
  left: 75%;
  -webkit-transition: all 0.56621s;
  transition: all 0.56621s;
  -webkit-animation: raining 5s linear 1s infinite;
          animation: raining 5s linear 1s infinite;
}

@keyframes raining {
  0% {
    top: 0;
    opacity: 0.59;
  }
  100% {
    top: 70%;
    opacity: 0;
  }
}

.wrap div.star:nth-child(4) {
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  top: 0;
  left: 14%;
  -webkit-transition: all 0.72858s;
  transition: all 0.72858s;
  -webkit-animation: raining 9s linear 3s infinite;
          animation: raining 9s linear 3s infinite;
}

@keyframes raining {
  0% {
    top: 0;
    opacity: 0.34;
  }
  100% {
    top: 70%;
    opacity: 0;
  }
}

.wrap div.star:nth-child(5) {
  width: 3px;
  height: 3px;
  border-radius: 1.5px;
  background-color: #fff;
  top: 0;
  left: 21%;
  -webkit-transition: all 1.12363s;
  transition: all 1.12363s;
  -webkit-animation: raining 5s linear 3s infinite;
          animation: raining 5s linear 3s infinite;
}

@keyframes raining {
  0% {
    top: 0;
    opacity: 0.59;
  }
  100% {
    top: 70%;
    opacity: 0;
  }
}

.wrap div.star:nth-child(6) {
  width: 3px;
  height: 3px;
  border-radius: 1.5px;
  background-color: #fff;
  top: 0;
  left: 97%;
  -webkit-transition: all 0.63736s;
  transition: all 0.63736s;
  -webkit-animation: raining 7s linear 3s infinite;
          animation: raining 7s linear 3s infinite;
}

@keyframes raining {
  0% {
    top: 0;
    opacity: 0.52;
  }
  100% {
    top: 70%;
    opacity: 0;
  }
}

.wrap div.star:nth-child(7) {
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  top: 0;
  left: 22%;
  -webkit-transition: all 0.82095s;
  transition: all 0.82095s;
  -webkit-animation: raining 7s linear 4s infinite;
          animation: raining 7s linear 4s infinite;
}

@keyframes raining {
  0% {
    top: 0;
    opacity: 0.47;
  }
  100% {
    top: 70%;
    opacity: 0;
  }
}

.wrap div.star:nth-child(8) {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  top: 0;
  left: 42%;
  -webkit-transition: all 1.45822s;
  transition: all 1.45822s;
  -webkit-animation: raining 7s linear 2s infinite;
          animation: raining 7s linear 2s infinite;
}

@keyframes raining {
  0% {
    top: 0;
    opacity: 0.39;
  }
  100% {
    top: 70%;
    opacity: 0;
  }
}

.wrap div.star:nth-child(9) {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  top: 0;
  left: 46%;
  -webkit-transition: all 0.65564s;
  transition: all 0.65564s;
  -webkit-animation: raining 9s linear 4s infinite;
          animation: raining 9s linear 4s infinite;
}

@keyframes raining {
  0% {
    top: 0;
    opacity: 0.49;
  }
  100% {
    top: 70%;
    opacity: 0;
  }
}

.wrap div.star:nth-child(10) {
  width: 3px;
  height: 3px;
  border-radius: 1.5px;
  background-color: #fff;
  top: 0;
  left: 85%;
  -webkit-transition: all 0.71544s;
  transition: all 0.71544s;
  -webkit-animation: raining 6s linear 2s infinite;
          animation: raining 6s linear 2s infinite;
}

@keyframes raining {
  0% {
    top: 0;
    opacity: 0.45;
  }
  100% {
    top: 70%;
    opacity: 0;
  }
}

.wrap div.star:nth-child(11) {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  top: 0;
  left: 71%;
  -webkit-transition: all 1.05935s;
  transition: all 1.05935s;
  -webkit-animation: raining 9s linear 3s infinite;
          animation: raining 9s linear 3s infinite;
}

@keyframes raining {
  0% {
    top: 0;
    opacity: 0.35;
  }
  100% {
    top: 70%;
    opacity: 0;
  }
}

.wrap div.star:nth-child(12) {
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  top: 0;
  left: 41%;
  -webkit-transition: all 1.17675s;
  transition: all 1.17675s;
  -webkit-animation: raining 10s linear 1s infinite;
          animation: raining 10s linear 1s infinite;
}

@keyframes raining {
  0% {
    top: 0;
    opacity: 0.57;
  }
  100% {
    top: 70%;
    opacity: 0;
  }
}

.wrap div.star:nth-child(13) {
  width: 3px;
  height: 3px;
  border-radius: 1.5px;
  background-color: #fff;
  top: 0;
  left: 43%;
  -webkit-transition: all 0.84212s;
  transition: all 0.84212s;
  -webkit-animation: raining 7s linear 1s infinite;
          animation: raining 7s linear 1s infinite;
}

@keyframes raining {
  0% {
    top: 0;
    opacity: 0.48;
  }
  100% {
    top: 70%;
    opacity: 0;
  }
}

.wrap div.star:nth-child(14) {
  width: 3px;
  height: 3px;
  border-radius: 1.5px;
  background-color: #fff;
  top: 0;
  left: 86%;
  -webkit-transition: all 1.48625s;
  transition: all 1.48625s;
  -webkit-animation: raining 9s linear 4s infinite;
          animation: raining 9s linear 4s infinite;
}

@keyframes raining {
  0% {
    top: 0;
    opacity: 0.54;
  }
  100% {
    top: 70%;
    opacity: 0;
  }
}

.wrap div.star:nth-child(15) {
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  top: 0;
  left: 6%;
  -webkit-transition: all 1.39115s;
  transition: all 1.39115s;
  -webkit-animation: raining 8s linear 3s infinite;
          animation: raining 8s linear 3s infinite;
}

@keyframes raining {
  0% {
    top: 0;
    opacity: 0.46;
  }
  100% {
    top: 70%;
    opacity: 0;
  }
}

.wrap div.star:nth-child(16) {
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  top: 0;
  left: 35%;
  -webkit-transition: all 1.17453s;
  transition: all 1.17453s;
  -webkit-animation: raining 5s linear 4s infinite;
          animation: raining 5s linear 4s infinite;
}

@keyframes raining {
  0% {
    top: 0;
    opacity: 0.55;
  }
  100% {
    top: 70%;
    opacity: 0;
  }
}

.wrap div.star:nth-child(17) {
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  top: 0;
  left: 93%;
  -webkit-transition: all 0.61327s;
  transition: all 0.61327s;
  -webkit-animation: raining 7s linear 0s infinite;
          animation: raining 7s linear 0s infinite;
}

@keyframes raining {
  0% {
    top: 0;
    opacity: 0.32;
  }
  100% {
    top: 70%;
    opacity: 0;
  }
}

.wrap div.star:nth-child(18) {
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  top: 0;
  left: 67%;
  -webkit-transition: all 1.34451s;
  transition: all 1.34451s;
  -webkit-animation: raining 6s linear 1s infinite;
          animation: raining 6s linear 1s infinite;
}

@keyframes raining {
  0% {
    top: 0;
    opacity: 0.43;
  }
  100% {
    top: 70%;
    opacity: 0;
  }
}

.wrap div.star:nth-child(19) {
  width: 3px;
  height: 3px;
  border-radius: 1.5px;
  background-color: #fff;
  top: 0;
  left: 98%;
  -webkit-transition: all 1.27076s;
  transition: all 1.27076s;
  -webkit-animation: raining 8s linear 0s infinite;
          animation: raining 8s linear 0s infinite;
}

@keyframes raining {
  0% {
    top: 0;
    opacity: 0.43;
  }
  100% {
    top: 70%;
    opacity: 0;
  }
}

.wrap div.star:nth-child(20) {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  top: 0;
  left: 31%;
  -webkit-transition: all 0.66309s;
  transition: all 0.66309s;
  -webkit-animation: raining 5s linear 1s infinite;
          animation: raining 5s linear 1s infinite;
}

@keyframes raining {
  0% {
    top: 0;
    opacity: 0.38;
  }
  100% {
    top: 70%;
    opacity: 0;
  }
}

.wrap div.star:nth-child(21) {
  width: 3px;
  height: 3px;
  border-radius: 1.5px;
  background-color: #fff;
  top: 0;
  left: 68%;
  -webkit-transition: all 0.57706s;
  transition: all 0.57706s;
  -webkit-animation: raining 6s linear 3s infinite;
          animation: raining 6s linear 3s infinite;
}

@keyframes raining {
  0% {
    top: 0;
    opacity: 0.46;
  }
  100% {
    top: 70%;
    opacity: 0;
  }
}

.wrap div.star:nth-child(22) {
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  top: 0;
  left: 22%;
  -webkit-transition: all 1.15738s;
  transition: all 1.15738s;
  -webkit-animation: raining 8s linear 0s infinite;
          animation: raining 8s linear 0s infinite;
}

@keyframes raining {
  0% {
    top: 0;
    opacity: 0.54;
  }
  100% {
    top: 70%;
    opacity: 0;
  }
}

.wrap div.star:nth-child(23) {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  top: 0;
  left: 22%;
  -webkit-transition: all 0.69636s;
  transition: all 0.69636s;
  -webkit-animation: raining 7s linear 0s infinite;
          animation: raining 7s linear 0s infinite;
}

@keyframes raining {
  0% {
    top: 0;
    opacity: 0.31;
  }
  100% {
    top: 70%;
    opacity: 0;
  }
}

.wrap div.star:nth-child(24) {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  top: 0;
  left: 59%;
  -webkit-transition: all 1.3183s;
  transition: all 1.3183s;
  -webkit-animation: raining 10s linear 3s infinite;
          animation: raining 10s linear 3s infinite;
}

@keyframes raining {
  0% {
    top: 0;
    opacity: 0.38;
  }
  100% {
    top: 70%;
    opacity: 0;
  }
}

.wrap div.star:nth-child(25) {
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  top: 0;
  left: 8%;
  -webkit-transition: all 0.90952s;
  transition: all 0.90952s;
  -webkit-animation: raining 7s linear 4s infinite;
          animation: raining 7s linear 4s infinite;
}

@keyframes raining {
  0% {
    top: 0;
    opacity: 0.59;
  }
  100% {
    top: 70%;
    opacity: 0;
  }
}

.wrap div.star:nth-child(26) {
  width: 3px;
  height: 3px;
  border-radius: 1.5px;
  background-color: #fff;
  top: 0;
  left: 90%;
  -webkit-transition: all 0.882s;
  transition: all 0.882s;
  -webkit-animation: raining 10s linear 1s infinite;
          animation: raining 10s linear 1s infinite;
}

@keyframes raining {
  0% {
    top: 0;
    opacity: 0.49;
  }
  100% {
    top: 70%;
    opacity: 0;
  }
}

.wrap div.star:nth-child(27) {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  top: 0;
  left: 78%;
  -webkit-transition: all 0.65695s;
  transition: all 0.65695s;
  -webkit-animation: raining 6s linear 1s infinite;
          animation: raining 6s linear 1s infinite;
}

@keyframes raining {
  0% {
    top: 0;
    opacity: 0.46;
  }
  100% {
    top: 70%;
    opacity: 0;
  }
}

.wrap div.star:nth-child(28) {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  top: 0;
  left: 48%;
  -webkit-transition: all 1.11619s;
  transition: all 1.11619s;
  -webkit-animation: raining 9s linear 3s infinite;
          animation: raining 9s linear 3s infinite;
}

@keyframes raining {
  0% {
    top: 0;
    opacity: 0.31;
  }
  100% {
    top: 70%;
    opacity: 0;
  }
}

.wrap div.star:nth-child(29) {
  width: 3px;
  height: 3px;
  border-radius: 1.5px;
  background-color: #fff;
  top: 0;
  left: 15%;
  -webkit-transition: all 0.55789s;
  transition: all 0.55789s;
  -webkit-animation: raining 9s linear 1s infinite;
          animation: raining 9s linear 1s infinite;
}

@keyframes raining {
  0% {
    top: 0;
    opacity: 0.55;
  }
  100% {
    top: 70%;
    opacity: 0;
  }
}

.wrap div.star:nth-child(30) {
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  top: 0;
  left: 86%;
  -webkit-transition: all 1.31803s;
  transition: all 1.31803s;
  -webkit-animation: raining 8s linear 0s infinite;
          animation: raining 8s linear 0s infinite;
}
/*# sourceMappingURL=style.css.map */